<div class="container">
    <div class="row">
        <div class="col col-sm-6 col-md-6 col-lg-6">
            <img src="{{product[0].url}}" alt="">
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-6 details" >
            <h1>
                {{product[0].name}} <br>
                <span class="price">
                    ${{product[0].price}}
                </span>
            </h1>
            <p>Carry things arround town!</p>
            <select name="" id="" (ngModelChange)="tlNum($event)" [ngModel]="num" aria-placeholder="1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            </select>
            <button class="btn btn-primary" (click)="addCart(product[0])">Add to cart</button>
            <a routerLink=""> <img src="../../assets/icons8-left-arrow-24.png" alt=""> Back to product list</a>
        </div>
    </div>